<template>
  <div
    class="issue-card mt-2 p-2 position-relative"
    :class="[{'is-closed':isClosed},{'is-deliverable':isDeliverable},{'is-stretch':isStretch},{'is-parent':isParentIssue},workflowClass]"
  >
    <a :href="issueLink" target="_blank" class="text-ellipsis">
      {{issueId}}
      <span v-if="isUi">- UI</span>
      <span v-if="ifGroupLabel">&nbsp;- {{groupLabel}}</span>
      <span v-if="!isClosed">&nbsp;- {{workflowLabel}}</span>
    </a>
    <div class="title text-wrap overflow-hidden font-weight-bold" :title="issueTitle">{{issueTitle}}</div>

    <div v-if="hasWeight || isParentIssue" class="weight-label p-1 font-weight-bold">
      <span class="parent-label" v-if="isParentIssue">Parent</span>
      {{issueWeight}}
    </div>
    <div
      v-if="healthStatusLabel"
      class="health-label p-1"
      title="Health Status"
      :class="healthStatus"
    >{{healthStatusLabel}}</div>
    <div v-if="isFrontend && expertiseLabel" class="deliverable-stretch-label p-1" title="Frontend">Frontend</div>
    <div v-if="isBackend && expertiseLabel" class="deliverable-stretch-label p-1" title="Frontend">Backend</div>
    <div v-if="isDeliverable && !expertiseLabel" class="deliverable-stretch-label p-1" title="Deliverable">Deliverable</div>
    <div v-if="isStretch && !expertiseLabel" class="deliverable-stretch-label p-1" title="Stretch">Stretch</div>
  </div>
</template>

<script>
import issueHasLabel from "@/utils/issue_has_label";

export default {
  name: "IssueCard",
  props: {
    issue: Object,
    issueId: String,
    issueTitle: String,
    issueLink: String,
    issueWeight: Number,
    labels: Array,
    isParentIssue: Boolean,
    workflowLabel: String,
    groupLabel: String,
    issueState: String,
    healthStatus: String,
    isClosed: Boolean,
    expertiseLabel: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    hasWeight() {
      return this.issueWeight ? true : false;
    },
    isUi() {
      var project = this.issueLink.match(
        /\/gitlab.com\/gitlab-org\/(.*?)\/.*/
      )[1];
      return project === "gitlab-ui";
    },
    workflowClass() {
      return "workflow-" + this.workflowLabel.replace(/\s/g, "-");
    },
    ifGroupLabel() {
      return this.groupLabel;
    },
    isFrontend() {
      return issueHasLabel(this.issue, "frontend");
    },
    isBackend() {
      return issueHasLabel(this.issue, "backend");
    },
    isDeliverable() {
      return issueHasLabel(this.issue, "Deliverable");
    },
    isStretch() {
      return issueHasLabel(this.issue, "Stretch");
    },
    healthStatusLabel() {
      return (
        {
          onTrack: "On Track",
          needsAttention: "Needs Attention",
          atRisk: "At Risk"
        }[this.healthStatus] || null
      );
    }
  }
};
</script>

<style scoped>
.issue-card {
  height: 100px;
  font-size: 14px;
  border-radius: 0 0 10px 0;
  background-color: #fff;
  border-left: 5px solid #fff;
}

.issue-card.is-closed {
  opacity: 0.3 !important;
  border-left-color: #fff !important;
}

.issue-card.is-parent {
  xbackground-color: rgb(218, 218, 218);
}

.issue-card.workflow-design {
  border-left-color: purple;
}

.issue-card.workflow-blocked {
  border-left-color: red;
}

.issue-card.workflow-planning-breakdown {
  border-left-color: yellow;
}

.issue-card.workflow-ready-for-dev {
  border-left-color: lightblue;
}

.issue-card.workflow-in-dev {
  border-left-color: orange;
}

.issue-card.workflow-in-review {
  border-left-color: palevioletred;
  opacity: 0.7;
}

.issue-card.workflow-verification {
  border-left-color: green;
  opacity: 0.5;
}

.issue-card.workflow-production {
  border-left-color: green;
  opacity: 0.3;
}

.issue-card.workflow-no-workflow {
  border-left-color: rgb(0, 0, 0);
}

.title {
  max-height: 3em;
}

.weight-label {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 2em;
  text-align: center;
  border-radius: 0 0 0 10px;
  background-color: rgb(154, 206, 255);
}

.health-label {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
  line-height: 1.2em;
}

.health-label.onTrack {
  background-color: rgb(189, 253, 192);
}

.health-label.needsAttention {
  background-color: rgb(252, 189, 137);
}

.health-label.atRisk {
  background-color: rgb(253, 113, 113);
}

.deliverable-stretch-label {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 10px 0 0;
  line-height: 1.2em;
  background-color: #eee;
}
</style>