<template>
  <div class="team-member">
    <h1>
      <a class="user-link text-light" :href="userLink" target="_blank">{{userId}}</a>
    </h1>
    <h2 class="text-light">Weight: {{totalWeight}} (Todo: {{remainingWeight}})</h2>
    <IssueCard
      v-for="issue in issues"
      :key="issue.iid"
      :issue="issue"
      :issue-id="issue.iid"
      :issueTitle="issue.title"
      :issueLink="issue.webUrl"
      :issue-weight="issue.weight"
      :labels="issue.labels.nodes"
      :is-parent-issue="issue.isParentIssue"
      :workflow-label="issue.workflowLabel"
      :group-label="issue.groupLabel"
      :issue-state="issue.state"
      :is-closed="issue.isClosed"
      :health-status="issue.healthStatus"
    />
  </div>
</template>

<script>
//import gql from "graphql-tag";
import IssueCard from "./IssueCard.vue";
import isParentIssue from "@/utils/is_parent_issue";
import getWorkflowlabel from "@/utils/get_workflow_label";
import getGroupLabel from "@/utils/get_group_label";
import issueHasLabel from "@/utils/issue_has_label";
import getIssueProgress from "@/utils/get_issue_progress";

import projectIssuesQuery from "@/queries/project_issues.gql";

export default {
  name: "TeamMember",
  components: {
    IssueCard
  },
  props: {
    userId: {
      type: String,
      required: true
    },
    milestone: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      issues: []
    };
  },
  computed: {
    userLink() {
      return `http://gitlab.com/${this.userId}`;
    },
    totalWeight() {
      let totalWeight = 0;
      for (let i = 0; i < this.issues.length; i++) {
        let issue = this.issues[i];
        if (issue.weight) {
          totalWeight += issue.weight;
        }
      }

      return totalWeight;
    },
    remainingWeight() {
      let totalWeight = 0;
      for (let i = 0; i < this.issues.length; i++) {
        let issue = this.issues[i];
        if (
          !issue.isClosed &&
          !issue.isInVerification &&
          issue.weight
        ) {
          totalWeight += issue.weight;
        }
      }

      return totalWeight;
    }
  },
  apollo: {
    issues: {
      query: projectIssuesQuery,
      variables() {
        return {
          milestoneTitle: this.milestone,
          assigneeUsername: this.userId
        };
      },
      update: ({ group }) =>
        group.issues.nodes
          .map(issue => ({
            ...issue,
            isParentIssue: isParentIssue(issue),
            workflowLabel: getWorkflowlabel(issue),
            groupLabel: getGroupLabel(issue),
            isClosed: issue.state == "closed",
            isInVerification: issueHasLabel(issue, "workflow::verification"),
            issueProgress: getIssueProgress(issue)
            // blocked
            //
          }))
          .sort((a, b) => (a.issueProgress > b.issueProgress ? 1 : -1)),
      pollInterval: 5 * 60 * 1000 // refresh every 5 minutes
    }
  }
};
</script>

<style scoped>
h1 {
  font-size: 1.5em;
  overflow:hidden;
}
h2 {
  font-size: 1em;
}
</style>